@using WebApplication1.Models;
@model EntProductVm

<div style="display:inline-block; padding: 0 0 0 5px;">
    <div style="display:block; max-width:100%;">
        @Model.id
    </div>
    <div style="display:block; max-width:100%;">
        <a href="~/@Model.id">@Model.descripcion</a>
    </div>
    <div style="display:block; max-width:100%;">
        @Model.price.ToString()
    </div>
</div>
